// colors
$color_main_100: #D1D5FF;
$color_main_200: #A4ACFF;
$color_main_300: #7682FF;
$color_main_400: #4959FF;
$color_main_500: #1B2FFF;
$color_main_600: #1626CC;
$color_main_700: #101C99;
$color_main_800: #0B1366;
$color_main_900: #050933;


$color_base_0: #FCFCFC;
$color_base_50: #F3F4F6;
$color_base_100: #CCD3DA;
$color_base_200: #99A7B5;
$color_base_300: #677B8F;
$color_base_400: #344F6A;
$color_base_500: #012345;
$color_base_600: #011C37;
$color_base_700: #011529;
$color_base_800: #000E1C;
$color_base_900: #00070E;

$color_secondary_100: #FDD2EC;
$color_secondary_200: #FCA5D9;
$color_secondary_300: #FA77C6;
$color_secondary_400: #F84AB3;
$color_secondary_500: #F61D9F;
$color_secondary_600: #C51780;
$color_secondary_700: #941160;
$color_secondary_800: #630C40;
$color_secondary_900: #310620;
