@mixin user-select($val) {
    -webkit-user-select: $val; /* для Chrome и Safari */
    -moz-user-select: $val; /* для Firefox */
    -ms-user-select: $val; /* для IE 10+ */
    -o-user-select: $val;
    -khtml-user-select: $val;
    user-select: $val;
}